<ion-view>
    <ion-nav-title>
        Home
    </ion-nav-title>
    <ion-content class="padding">
        HOME
        <a ui-sref="home" class="button button-assertive">Home</a>
    </ion-content>
</ion-view>