<ion-view>

    <ion-nav-title>
        CodeDelivery - Login
    </ion-nav-title>

    <ion-content class="padding">
        <form name="form" ng-submit="login()">
            <div class="list list-inset">
                <label for="" class="item item-input">
                    <span class="input-label">Usuario</span>
                <input type="text" name="username" placeholder="meu-usuario" ng-model="user.username" required>
                </label>

                <label for="" class="item item-input">
                    <span class="input-label">Senha</span>
                <input type="password" name="password" placeholder="***********" ng-model="user.password" required>
                </label>
            </div>

            <button class="button button-full button-calm">Logar</button>
        </form>

        <ion-nav-view>

        </ion-nav-view>

    </ion-content>

</ion-view>