<ion-view>
    <ion-nav-title>
        Checkout item detail
    </ion-nav-title>
    <ion-content class="padding has-header">
Checkout item detail
        <a ui-sref="home" class="button button-assertive">Home</a>
    </ion-content>
</ion-view>