<ion-view>
    <ion-nav-title>
        Checkout
    </ion-nav-title>

    <div class="bar bar-subheader">
        <h2 class="title">Total: R$ {{ total }}</h2>
    </div>

    <ion-content class="padding has-subheader">

        <ion-list>
            <ion-item ng-repeat="o in items">

                <h1>{{ o.name }}</h1>

                <div class="row">
                    <div class="col">
                        Quantidade: {{ o.qtd }}
                        <br>
                        <i class="ion ion-cash"> Preço: {{ o.price }}</i>
                    </div>
                    <div class="col">
                        <i class="ion ion-social-usd"> Subtotal: {{o.qtd * o.price}}</i>
                    </div>
                </div>


                <!--<span class="item-note">-->
                    <!--<i class="icon ion-cash"> {{ o.price }}</i>-->
                <!--</span>-->

            </ion-item>
        </ion-list>
        <a ui-sref="home" class="button button-assertive">Home</a>
    </ion-content>

</ion-view>