<ion-view>

    <ion-nav-title>
        View Product
    </ion-nav-title>

    <div class="bar bar-subheader">
        <h2 class="title">Escolha o seu produto</h2>
    </div>

    <ion-content class="padding has-subheader">

        <ion-list>
            <ion-item ng-repeat="o in products" ng-click="addItem(o)">

                {{ o.name }}

                <span class="item-note">
                    <i class="icon ion-cash"> {{ o.price }}</i>
                </span>

            </ion-item>
        </ion-list>
        <a ui-sref="home" class="button button-assertive">Home</a>
    </ion-content>

</ion-view>