<ion-view title="Bebidas" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="pizza-left-image">
      <img src="img/N0wZu66GTeGdD4BCN9tr_download.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="bebidas-button-bar3" class="button-bar"></div>
    <button id="bebidas-button28" class="button button-balanced button-small">-</button>
    <button id="bebidas-button29" class="button button-balanced button-small">+</button>
    <form id="bebidas-form2" class="list">
      <label class="item item-input" id="bebidas-input2">
        <input type="text" placeholder="1">
      </label>
    </form>
  </ion-content>
</ion-view>