<ion-view title="Caradpio" id="page9">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h1 id="caradpio-heading8" style="color:#000000;text-align:center;" class="title-page-all">Heading</h1>
    <div id="caradpio-markdown8" class="show-list-numbers-and-dots text-page-all">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="caradpio-container1">
      <form id="caradpio-form1" class="list">
        <label class="item item-input" id="caradpio-input1" name="quantidade">
          <input type="text" placeholder="1">
        </label>
      </form>
      <button id="caradpio-button13" class="button button-balanced button-small">-</button>
      <button id="caradpio-button14" class="button button-balanced button-small">+</button>
    </div>
  </ion-content>
</ion-view>