<ion-view title="Extras" hide-back-button="true" id="page5" class="side-menu-gradient">
  <ion-content padding="true" class="has-header">
    <div class="profile-image">
      <img src="img/DhWrLvQW2DryEGltlsgn_pizza_PNG7149.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="extras-heading4" style="color:#5C5656;text-align:center;" class="title-page-all">Pizza name</h5>
    <div id="extras-markdown2" style="text-align:center;" class="show-list-numbers-and-dots text-page-all">
      <p style="color:#8F8585;">Pizza description ... Pizza description ... Pizza description ... </p>
    </div>
    <h5 id="extras-heading5" style="color:#000000;font-weight:400;text-align:center;">Total: R$ 7.89</h5>
    <ion-list id="extras-list1">
      <ion-item class="item-icon-right  side-menu-item" id="extras-list-item4">Espinafre
        <span class="item-note">R$ 1.99</span>
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right  side-menu-item" id="extras-list-item5">Queijo triplo
        <span class="item-note">R$ 5.99</span>
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right  side-menu-item" id="extras-list-item6">Carne de sol plus
        <span class="item-note">R$ 11.99</span>
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>