<ion-view title="Historico de pedidos" id="page8" class="side-menu-gradient">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-cart-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="historicoDePedidos-list5">
      <ion-item class="item-avatar" id="historicoDePedidos-list-item15">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="historicoDePedidos-list-item16">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="historicoDePedidos-list-item17">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="historicoDePedidos-list-item18">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>