<ion-view title="Meu carrinho" hide-back-button="true" id="page3" class="side-menu-gradient">
  <ion-content padding="true" class="has-header">
    <div class="pizza-left-image">
      <img src="img/OJMDihFmSZKHisLWCl0F_Pepperoni-Pizza-Transparent-PNG.png" style="display:block;width:40%;height:auto;">
    </div>
    <h5 id="meuCarrinho-heading7" style="color:#000000;text-align:center;" class="title-page-all">Pizza title</h5>
    <div id="meuCarrinho-markdown3" class="show-list-numbers-and-dots text-page-all">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <ion-list id="meuCarrinho-list7">
      <ion-item id="meuCarrinho-list-item26" class="side-menu-item">Pedido
        <span class="item-note">R$ 7,99</span>
      </ion-item>
      <ion-item id="meuCarrinho-list-item27" class="side-menu-item">+</ion-item>
      <ion-item id="meuCarrinho-list-item28" class="side-menu-item">Entrega
        <span class="item-note">R$ 1,99</span>
      </ion-item>
      <ion-item id="meuCarrinho-list-item29" class="side-menu-item">Total
        <span class="item-note">R$ 9,00</span>
      </ion-item>
    </ion-list>
    <button id="meuCarrinho-button11" class="button button-positive  button-block">Confirmar compra</button>
  </ion-content>
</ion-view>