<ion-view title="Meus dados" id="page6" class="side-menu-gradient">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-person"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div class="profile-image">
      <img src="img/OX90R0ZQcMBTDuLlqCw0_download.png" style="display: block; width: 42%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="meusDados-list4">
      <ion-item class="item-icon-left  side-menu-item" id="meusDados-list-item12">
        <i class="icon ion-ios-home"></i>Endereco
        <span class="item-note">Rua x, Bairro Y, cidade Z</span>
      </ion-item>
      <ion-item class="item-icon-left  side-menu-item" id="meusDados-list-item13">
        <i class="icon ion-card"></i>Cartão
        <span class="item-note">00.000.0000.000-00</span>
      </ion-item>
      <ion-item class="item-icon-left  side-menu-item" id="meusDados-list-item14" ui-sref="historicoDePedidos">
        <i class="icon ion-ios-cart"></i>Pedidos
        <span class="item-note">Piza g em 31/02/9999</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>