<ion-view title="Pizzaria Isaac" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ULVL7YNRImLP1NtdNaaJ_pizza_PNG7149.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="pizzariaIsaac-heading3" style="color:#5C5656;text-align:center;">Pizza Name</h5>
    <div id="pizzariaIsaac-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#8F7E7E;">Pizza description ... Pizza description ... Pizza description ... </p>
    </div>
    <a ui-sref="tabsController.extras" id="pizzariaIsaac-button10" class="button button-positive  button-block icon ion-ios-cart"></a>
    <div id="pizzariaIsaac-button-bar2" class="button-bar">
      <button id="pizzariaIsaac-button7" class="button button-positive  button-block icon ion-social-facebook"></button>
      <button id="pizzariaIsaac-button8" class="button button-positive  button-block icon ion-social-twitter"></button>
      <button id="pizzariaIsaac-button9" class="button button-positive  button-block icon ion-social-whatsapp"></button>
    </div>
  </ion-content>
</ion-view>