<ion-view title="Saiba como chegar" hide-nav-bar="true" hide-back-button="true" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>