<ion-view title="Tabs Controller" id="page1">
  <ion-tabs class="tabs-energized tabs-icon-top side-menu-item" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-pizza" href="#/page1/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Bebidas" icon="ion-android-bar" href="#/page1/drinks" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="" icon="ion-ios-location" href="#/page1/location" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>